.Header {
    background-color: rgb(17, 17, 77);
}

.logo {
    width: 100px;
    height: 100px;
}

.headerContent {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
}

@media (max-width: 768px) {
    .logo {
        width: 48px;
        height: 48px;
    }

    .headerContent {
        text-align: center;
        font-size: 10px;
    }
}